/*!---------------------------------------------------------------TABLA---------------------------------------------------------------*/
.contenido table {
  background: rgb(22, 22, 22);
  border-radius: 10px;
  margin: auto;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #0037ff;
}
.contenido td,
th {
  padding: 3px;
  text-align: left;
}
/*_-------------------------------Colores----------------------------------*/
.contenido th.u {
  color: rgb(0, 255, 157);
}
.contenido td.u {
  color: rgb(0, 255, 157);
}
.contenido th.d {
  color: rgb(89, 0, 255);
}
.contenido td.d {
  color: rgb(89, 0, 255);
}
.contenido th.t {
  color: rgb(218, 255, 97);
}
.contenido td.t {
  color: rgb(218, 255, 97);
}
/*!---------------------------------------------------------------Formulas---------------------------------------------------------------*/
.formulas {
  text-align: center;
  margin: auto;
  background: rgb(22, 22, 22);
  border-radius: 10px;
  color: #0037ff;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 40%;
  font-family: monospace;
}
/*_-------------------------------Colores----------------------------------*/
.formulas span.u {
  color: aqua;
}
.formulas span.d {
  color: rgb(3, 228, 52);
}
.formulas span.t {
  color: rgb(230, 46, 0);
}
.formulas span.c {
  color: rgb(216, 219, 0);
}
/*!---------------------------------------------------------------Pantalla---------------------------------------------------------------*/
/*_-------------------------------ANCHO----------------------------------*/
@media screen and (max-width: 800px) {
  .formulas {
    width: 90%;
  }
}
@media screen and (max-width: 400px) {
  .formulas {
    width: 100%;
  }
}
/*!---------------------------------------------------------------MENU 2---------------------------------------------------------------*/

aside {
  width: 16%;
  background: #1d2f3d;
  padding: 20px;
  border-radius: 3px;
  position: sticky;
  top: 20px;
  float: left;
  margin-right: -500px;
  text-align: center;
}

aside .titulo a {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 24px;
  margin-bottom: 10px;
  color: #f2f2f2;
  text-decoration: none;
}
aside .indice a {
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
  background: #ffffff;
  width: 25%;
  max-width: 25%;
  height: 25%;
  max-height: 25%;
  border-radius: 3px;
  color: black;
  padding: 10px;
  float: left;
  margin: 1px;
}
aside .indice a small {
  font-size: xx-small;
}
/*_-------------------------------Cuando el cursor se ponga en el boton ----------------------------------*/
aside .indice a:hover {
  color: #353535;
  background: #ebebeb;
}
aside .titulo a:hover {
  color: #c7c7c7;
}
