body {
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(202, 204, 206);
}
.contenedor {
  text-align: center;
}
html,
body {
  width: 100%;
  overflow-x: hidden;
}
/*!---------------------------------------------------------------MENU INICIO---------------------------------------------------------------*/
.menu {
  background: rgb(255, 255, 255);
  width: 60%;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 2%;
  box-shadow: 10px 10px 20px rgba(131, 131, 131, 0.76);
  box-sizing: border-box;
  text-align: right;
}
.menu li a {
  text-decoration: none;
  color: rgb(36, 36, 36);
  padding: 10px;
}
.menu li {
  display: inline-block;
}
/*_-------------------------------Cuando el cursor se ponga en el boton ----------------------------------*/

.menu li a:hover {
  color: #254be6;
}
.menu li:hover {
  color: #254be6;
}
/*_-------------------------------FormuFisic----------------------------------*/
.menu li h1 {
  display: inline-block;
  font-size: larger;
  padding: 0px;
  margin: 0px;
  /*Espacio desde FormuFisic hasta los botones con li a*/
  margin-right: 800px;
}
.menu li h1 a {
  color: rgb(127, 229, 255);
}
/*!---------------------------------------------------------------IMAGEN INICIAL DEL CONTENIDO---------------------------------------------------------*/
.imginicial {
  border-radius: 10px;
}
/*!---------------------------------------------------------------CONTENIDO---------------------------------------------------------------*/
.contenido {
  width: 60%;
  background: rgb(255, 255, 255);
  padding: 20px;
  margin: auto;
  border-radius: 10px;
  text-align: left;
  box-sizing: border-box;
}
/*_-------------------------------texto----------------------------------*/
.contenido h2,
h3,
h4 {
  text-align: center;
}
/*!---------------------------------------------------------------CAJAS---------------------------------------------------------------*/
.cajas {
  margin: auto;
  width: 62%;
}
.caja {
  background: #fefefe;
  padding: 15px;
  width: 250px;
  border-radius: 5px;
  box-shadow: 10px 10px 20px rgba(131, 131, 131, 0.76);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-end;
  margin-top: 80px;
  margin-left: 5px;
  position: relative;
  float: left;
  margin-bottom: 0%;
}

/*_-------------------------------Imagen----------------------------------*/
.caja img {
  vertical-align: top;
  border-radius: 7px;
  position: absolute;
  top: -35%;
  width: 250px;
  height: 150px;
  -o-object-fit: cover;
  object-fit: cover;
}
/*_-------------------------------Boton----------------------------------*/

.caja .botones {
  width: 100%;
  margin-top: 100px;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.caja .botones .boton {
  padding: 10px;
  color: #fff;
  width: 90%;
  display: block;
  background: #111111;
  text-align: center;
  border-radius: 5px;
}
.caja .botones .boton.operador {
  background: #3e60e9;
}
.botones a.boton.operador,
.boton.ver {
  text-decoration: none;
}
/*_-------------------------------Cuando el cursor se ponga en el boton ----------------------------------*/
.caja .botones .boton.operador:hover {
  background: #254be6;
}

.caja .botones .boton.ver {
  background: #c8c8c8;
}

.caja .botones .boton.ver:hover {
  background: #acabab;
}
/*!---------------------------------------------------------------Pantalla---------------------------------------------------------------*/
/*_-------------------------------ANCHO----------------------------------*/
@media screen and (max-width: 1500px) {
  .menu {
    width: 80%;
  }
  .cajas {
    width: 80%;
  }
}
@media screen and (max-width: 1000px) {
  .menu {
    width: 100%;
  }
  .menu li h1 {
    margin-right: 530px;
  }
  .imginicial {
    width: 80%;
  }
  .contenido {
    width: 80%;
  }
}
@media screen and (max-width: 900px) {
  .menu {
    width: 100%;
  }
  .menu li h1 {
    margin-right: 530px;
  }
  .imginicial {
    width: 80%;
  }
  .contenido {
    width: 80%;
  }
}
@media screen and (max-width: 800px) {
  .imginicial {
    width: 90%;
  }
  .contenido {
    width: 90%;
  }
}
@media screen and (max-width: 500px) {
  .menu {
    width: 100%;
  }
  .menu li h1 {
    margin-right: 190px;
  }
  .imginicial {
    width: 100%;
  }
  .contenido {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .menu li h1 {
    margin-right: 100px;
  }
}
@media screen and (max-width: 450px) {
  .menu li h1 {
    margin-right: 50px;
  }
}
@media screen and (max-width: 400px) {
  .menu li h1 {
    margin-right: 50px;
  }
  .cajas {
    width: 100%;
  }
}

@media screen and (max-width: 380px) {
  .menu li h1 {
    margin-right: 10px;
  }
}

/*_-------------------------------ALTURA----------------------------------*/
